mat-form-field {
    display: block;
}

img {
    max-width: 400px;
    display: block;
    margin: 20px 0;
}

.row1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 20px;
    grid-template-areas: "textContent textContent imageContent imageContent";
    .textContent {
        grid-area: textContent;
    }
    .imageContent {
        grid-area: imageContent;
    }
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
}

.row2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 20px;
    grid-template-areas: "indicatorContent indicatorContent chartContent chartContent chartContent";
    .indicatorContent {
        grid-area: indicatorContent;
    }
    .chartContent {
        grid-area: chartContent;
    }
}
