<header>
    <mat-toolbar color="primary">
        <span>Dear Diary</span>
        <nav>
            <a routerLink="/home">Home</a>
            <a routerLink="/entry/new">New</a>
        </nav>
        <div *ngIf="installable" class="install">
            <a (click)="install()">Install App</a>
        </div>
        <div class="onlineIndicator">
            <div *ngIf="isOnline" class="online">
                <mat-icon>sensors</mat-icon>
                <span>Online</span>
            </div>
            <div *ngIf="!isOnline" class="offline">
                <mat-icon>sensors_off</mat-icon>
                <span>Offline</span>
            </div>
        </div>
    </mat-toolbar>
</header>

<main>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</main>